body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.div1 {
    width: 200px;
    height: 40px;
    background-color: rgb(0, 0, 0);

    position: absolute;
    top: 400px;
    left: -250px;

    animation-name: change;
    animation-duration: 1.5s;

    animation-fill-mode: forwards;
    
}
@keyframes change {
    0% {
        top: 400px;
        left: -250px;
        width: 300px;
    }
    100%{
        top: 400px;
        left: 450px;
        width: 200px;
    }
}
.div2 {
    width: 200px;
    height: 40px;
    background-color: rgb(0, 0, 0);

    position: absolute;
    top: 400px;
    left: -250px;

    animation-name: change2;
    animation-duration: 2s;

    animation-fill-mode: forwards;
}
@keyframes change2 {
    0% {
        top: 400px;
        left: -250px;
    }
    50%{
        top: 400px;
        left: 450px;
        width: 200px;
        height: 40px;
    }
    100%{
        top: 200px;
        left: 450px;
        width: 40px;
        height: 200px;
    }
}
.div3 {
    width: 200px;
    height: 40px;
    background-color: rgb(0, 0, 0);

    position: absolute;
    top: 400px;
    left: 1366px;

    animation-name: change3;
    animation-duration: 2s;

    animation-fill-mode: forwards;  
}
@keyframes change3 {
    0% {
        top: 400px;
        left: 1366px;
    }
    100%{
        top: 400px;
        left: 650px;
    }
}
.div4 {
    width: 40px;
    height: 200px;
    background-color: rgb(0, 0, 0);

    position: absolute;
    top: -200px;
    left: 810px;

    animation-name: change4;
    animation-duration: 2s;

    animation-fill-mode: forwards;
}
@keyframes change4 {
    0% {
        top: -200px;
        left: 810px;
    }
    /* 50%{
        top: 400px;
        left: 450px;
    } */
    100%{
        top: 200px;
        left: 810px;
    }
}
.div5 {
    width: 400px;
    height: 40px;
    background-color: rgb(0, 0, 0);

    position: absolute;
    top: 160px;
    left: -400px;

    animation-name: change5;
    animation-duration: 4s;
    animation-delay: 1s;

    animation-fill-mode: forwards;
}
@keyframes change5 {
    0% {
        top: 160px;
        left: -400px;
    }
    100%{
        top: 160px;
        left: 450px;
    }
}
.img {
    width: 200px;
    height: 200px;
    background-image: url(image/phoenix.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 550px;
    top: -200px;
    z-index: -1;

    animation-name: change6;
    animation-duration: 4s;

    animation-fill-mode: forwards;
}
@keyframes change6 {
    0% {
        left: 550px;
        top: -200px;
    }
    100%{
        left: 550px;
        top: 200px;
        background-color: gold;
    }
}
.bubles1 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(112, 112, 112);
    position: absolute;
    left: 50px;
    top: 1300px;
    opacity: 0.5;

    animation-name: changes;
    animation-duration: 2s;

    animation-iteration-count: infinite;
}
@keyframes changes {
    0% {
        left: 50px;
        top: 1300px;
    }
    100%{
        left: 50px;
        top: -100px;
    }
}
.bubles2 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    left: 200px;
    top: 1400px;
    opacity: 0.5;

    animation-name: changes1;
    animation-duration: 2s;

    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
@keyframes changes1 {
    0% {
        left: 200px;
        top: 1400px;
    }
    100%{
        left: 200px;
        top: -150px;
    }
}
.bubles3 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: rgb(119, 119, 119);
    position: absolute;
    left: 900px;
    top: 1400px;
    opacity: 0.5;
    z-index: -1;
    animation-name: changes2;
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes changes2 {
    0% {
        left: 900px;
        top: 1400px;
    }
    100%{
        left: 900px;
        top: -120px;
    }
}
.bubles4 {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    left: 1100px;
    top: 1400px;
    opacity: 0.5;
    z-index: -1;
    animation-name: changes3;
    animation-duration: 2s;

    animation-iteration-count: infinite;
}
@keyframes changes3 {
    0% {
        left: 1100px;
        top: 1400px;
    }
    100%{
        left: 1100px;
        top: -120px;
    }
}
.bubles5 {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color: grey;
    position: absolute;
    left: 1290px;
    top: 1400px;
    opacity: 0.5;
    z-index: -1;
    animation-name: changes4;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes changes4 {
    0% {
        left: 1290px;
        top: 1400px;
    }
    100%{
        left: 1290px;
        top: -180px;
    }
}
.bubles6 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(112, 111, 111);
    position: absolute;
    left: 600px;
    top: 1400px;
    opacity: 0.5;
    z-index: -2;
    animation-name: changes5;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes changes5 {
    0% {
        left: 600px;
        top: 1400px;
    }
    100%{
        left: 600px;
        top: -120px;
    }
}
.letter1 {
    display: inline-block;
    width: 130px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: -150px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;

    animation-name: letter1;
    animation-duration: 2.5s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    animation-delay: 3s;
}
@keyframes letter1 {
    0% {
        left: -150px;
        top: 100px;
        color: white;
        background-color: black;
    }
    90% {
        color: white;
        background-color: black;
    }
    100%{
        left: 513px;
        top: 100px;
        color: black;
        background: fixed;
    }
}
.letter2 {
    display: inline-block;
    width: 130px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 1366px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 3px;

    animation-name: letter2;
    animation-duration: 2.5s;
    /* animation-iteration-count: infinite; */
    animation-fill-mode: forwards;
    animation-delay: 3s;

}
@keyframes letter2 {
    0% {
        top: 100px;
        left: 1366px;
        color: white;
        background-color: black;
    }
    90%{
        color: white;
        background-color: black;
    }
    100%{
        top: 100px;
        left: 663px;
        color: black;
        background: fixed;
    }
}